header{
	height:  80vh;
	width: 100%;	
}
a{
	cursor: pointer;
}
a:hover{
	text-decoration: none;
}
p{
	line-height: 1.5;
	font-size: 1.8rem;
	font-family: 'Roboto', sans-serif;
}
img[alt="flor condori"]{
	width: 150px;
	height: 180px;
}
footer{
	background-color: black;
	color: white;
	padding: 1.5rem 0;
}
section{
	height: 100vh;
}
img{
	height: 320px;
}
h3{
	color: black;
}
/*Style de section home*/
#home{
	background: lightgrey;
	/* background-image: url("../img/fondo2.jpeg"); */
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
/*Style de section about*/
#about div.row p:first-child{
	font-size: 2.3rem;
}
#about a.circle:hover{
	background-color: #FFF433;
	color: black;
}
.circle{
	background: black;
	border-radius: 50%;
	color: #FFF433;
    font-size: 2rem;
    margin: 7px;
    padding: 9px 13px;    
}
/*Style de section skill*/
.skills{
	margin-top: 3.5rem;
	margin-bottom: 3.5rem;
	position: relative;
}
.skills img{
	width: 40px;
	height: 40px;
}
/*Style de section portafolio*/
.proyecto{
	text-align: center;
	font-size: 3rem;
	height: 225px;
	padding: 12px;
	transition:all .5s ease-in-out;
}
.proyecto.active .bg-proyecto{
	border: 1px solid yellow;
}
.bg-proyecto{
	background-color: black;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
.proyecto-descripcion{
	display: none;	
	color: black;	
	height: 480px;
	padding-top: 8rem;
}
.go-site{
	padding: 7px 10px;
	color: black;
	font-size: 2rem;
	font-weight: 700;
	text-decoration: none;
	margin: 2rem 1rem 2rem 0;
}
/*Style de Contact*/
#contact i{
	font-size: 3rem;
	color: black;
	background-color: white;
	margin: 2rem;
}