header{
	height:  80vh;
	width: 100%;	
}
a{
	cursor: pointer;
}
a:hover, a:visited, a:link, a:active{
	text-decoration: none;
}
p,span{
	font-family: 'Raleway', sans-serif;
}
p{
	line-height: 1.5;
	font-size: 1.8rem;
}
img[alt="flor condori"]{
	width: 150px;
	height: 180px;
}
footer{
	background-color: black;
	color: white;
	padding: 1.5rem 0;
}
section{
	height: 100vh;
}
img{
	height: 320px;
}
h3, h1{
	font-family: 'Bitter'
}
h3{
	color: black;
}
/*Style navbar*/
.text-nav{
	visibility: hidden;
    font-weight: 700;
    font-size: 12px;
}
.nav.navbar-nav i{
	position: absolute;
    visibility: visible;
    font-size: 2rem;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
}
/*Style de section home*/
#home{
	position: relative;
}
#home img{
	width: 100%;
	height: 100%;
	-webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
#home .pos-absolute{
	background-color: rgba(0,0,0,0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	color: white;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
#home a{
	border: 1px solid white;
	padding: 1rem 4rem;
	color: white;
	font-weight: 700;
}
#home a:hover{
	background-color: white;
	color: black;
}
/*Style de section about*/
#about div.row p:first-child{
	font-size: 2.3rem;
}
#about a.circle:hover{
	background-color: #FFF433;
	color: black;
}
.circle{
	background: black;
	border-radius: 50%;
	color: #FFF433;
    font-size: 2rem;
    margin: 7px;
    padding: 9px 13px;    
}
/*Style de section skill*/
#skills{
	height: auto;
}
.skills{
	margin-top: 3.5rem;
	margin-bottom: 4rem;
}
.skills img:hover p{
	color: aqua;
}
.skills img:hover{
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -moz-animation-name: boom;
  -webkit-animation-name: boom;
  animation-name: boom;
}
@keyframes boom {
  from {
	width: 10px;
  }

  to {
    width: 40px;
  }
}
@-moz-keyframes boom {
  from {
	width: 10px;
  }

  to {
    width: 40px;
  }
}
@-webkit-keyframes boom {
  from {
	width: 10px;
  }

  to {
    width: 40px;
  }
}
.skills img{
	width: 50px;
	height: 50px;
	margin-bottom: 7px;
}
/*Style de section portafolio*/
#portafolio, #contact{
	height: auto;
}
.proyecto{
	font-size: 3rem;
	height: 225px;
	padding: 12px;
	text-align: center;
	transition:all .5s ease-in-out;
}
.proyecto.active .bg-proyecto{
	border: 1px solid yellow;
}
.bg-proyecto{
	color: black;
    border: 1px solid black;
    background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
.proyecto-descripcion{
	display: none;	
	color: black;	
	height: auto;
	padding-top: 8rem;
	padding-bottom: 8rem;
}
.go-site{
	padding: 7px 10px;
	color: black;
	font-size: 2rem;
	font-weight: 700;
	text-decoration: none;
	margin: 2rem 1rem 2rem 0;
}
.go-site:hover{

}
/*Style de Contact*/
#contact i{
	font-size: 3rem;
	color: black;
	background-color: white;
	margin: 2rem;
}
