@media(min-width: 768px){
	.nav{
		float: right;
	}
	.navbar{
		border-radius: 0;
	}
	.nav.navbar-nav i{
    	font-size: 2.6rem;
	}
	.text-nav{
		font-size: 1rem;
	}
	#contact .row>div:nth-child(2) div:first-child i{
		font-size: 3rem;
	}
	#skills,
	#contact,
	#about,
	#portafolio{
		height: 100vh;
	}
	.navbar-nav>li {
	    margin-left: 10px;
	    margin-right: 10px;
	}
}