.navbar{
	position: absolute;
	background-color: black;
    border: none;
	width: 100%;
}
.navbar-toggle{
	border-style: none;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background-color: transparent;
}
.nav{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: white;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-brand{
	color: white;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-brand:hover{
	color: #FFF433;
}
button.close{
	position: absolute;
	top: -4rem;
	right: 23rem;
	background-color: black;
	color: white;
	font-size: 8rem;	
	font-weight: 100;
	padding: 4px;
	opacity: 1;
}
button.close:hover, button.close:focus{
	background-color: black;
	color: white;
	opacity: 1;
	outline: 0;
}
