.navbar{
	position: fixed;
	background-color: black;
    border: none;
    padding-top: 2rem;
	width: 100%;
	z-index: 2;
}
.navbar-toggle{
	border-style: none;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background-color: transparent;
}
.nav{
	display: flex;
	justify-content: space-around;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: white;
}
.navbar-default .navbar-nav>li>a{
	color: white;
}
.navbar-default .navbar-nav>li>a:hover .text-nav{
	visibility: visible;
	color: aqua;
}
.navbar-default .navbar-nav>li>a:hover i{
	visibility: hidden;
}
.navbar-collapse.in {
	overflow-x: hidden;
}
button.close{
	position: absolute;
    top: -26px;
    right: 13%;
	color: black;
	font-size: 8rem;	
	font-weight: 100;
	padding: 4px;
	opacity: 1;
}
button.close:hover, button.close:focus{
	color: black;
	opacity: 1;
	outline: 0;
}
