.mv-2{
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.mv-7{
	margin-top: 7rem;
	margin-bottom: 7rem;
}
.mb-0{
	margin-bottom: 0;
}
.mb-3{
	margin-bottom: 3rem;
}
.mt-40{
	margin-top: 40%;
}
.mt-5{
	margin-top: 5px;
}
.fs-4{
	font-size: 4rem;
}
.fs-6{
	font-size: 6rem;
}
.fs-1{
	font-size: 1.5rem;
}
.ph-10{
	padding-right: 10rem;
	padding-left: 10rem;
}
.bold{
	font-weight: 700;
}
.left{
	left: -5px;
}
.bg-gray-light{
	background-color: #eeeeee;
}
.m-auto{
	margin: 0 auto;
}

