.mv-2{
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.mv-7{
	margin-top: 7rem;
	margin-bottom: 7rem;
}
.mb-0{
	margin-bottom: 0;
}
.mt-40{
	margin-top: 40%;
}
.fs-4{
	font-size: 4rem;
}
.fs-7{
	font-size: 7rem;
}
.fs-1{
	font-size: 1.5rem;
}
.ph-5{
	padding-right: 5rem;
	padding-left: 5rem;
}
.text-yellow{
	color: #FFF433;
}
.bold{
	font-weight: 700;
}
.left{
	left: -5px;
}